
@model List<PropertyViewModel>
@{
    Layout = null;
}

<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h3 class="title-big">Ürünler</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                @foreach(var item in Model)
                {
                <div class="col-lg-4 col-md-6">
                    <a href="/Property/Index">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="@item.Image" alt="">
                            <div class="box-content">
                                <h3 class="title">@item.Count</h3>
                                <span class="post">@item.Description</span>
                            </div>
                        </div>
                    </a>
                </div>
                }
           
            </div>
        </div>
    </div>
</section>